{% extends "layouts/base.njk" %}


{% block head %}
<style>
    .post {
        margin-top: 2rem;
    }
</style>
{% endblock %}

{% block content %}
    {% include "partials/navbar.njk" %}

    <main>
        <div class="section">
            <h1 class="section__title">{{title}}</h1>
            <pre class="section__title">{{desc}}</pre>
            <hr>
            <div class="post">
                {{ content | safe }}
            </div>
        </div>
    </main>

    {% include "partials/footer.njk" %}
{% endblock %}
