{% extends "layouts/base.njk" %}


{% block head %}
{% endblock %}

{% block content %}
    {% include "partials/navbar-stick.njk" %}

    <main>
        {{content | safe}}
    </main>

    {% include "partials/footer.njk" %}
{% endblock %}
