{% extends "layouts/base.njk" %}


{% block head %}
{% endblock %}

{% block content %}
    {% include "partials/navbar.njk" %}

    <div class="container">
        {{ content | safe }}
    </div>

    {% include "partials/footer.njk" %}
{% endblock %}
