---
layout: layouts/home.njk
title: Home
---

{% include "partials/header.njk" %}

{% Card title="Helo, world", desc="Hello, num 2", img="/assets/img/darkrp.jpg" %}

<h1>Hello, world</h1>
<p>Hello, world</p>
