---
layout: layouts/home.njk
title: Home
---

{% include "partials/header.njk" %}

<div class="section section--top">
    <h1 class="section__title">Servers</h1>
    <div class="section__content--flex">
        {% for server in servers %}
            {% Card title=server.name, desc="unknown / 128 • " + server.map, img=server.image, link="/" + server.slug + "/rules" %}
        {% endfor %}
    </div>
</div>


<div class="section">
    <h1 class="section__title">Community</h1>
    <div class="section__content--grid">
        {% for social in socials %}
            {% SocialCard title=social.name, desc=social.desc, icon=social.icon, link=social.link + "/rules" %}
        {% endfor %}
    </div>
</div>
