---
layout: layouts/page.njk

pagination:
    data: servers
    size: 1
    alias: server
permalink: /{{server.slug | slugify}}/index.html
title: Server Information
---

<div class="section">
    <h1 class="section__title">DarkRP</h1>
    <p align="center">More information about servers will be coming to the website soon.</p>
    <a href="./rules"><p align="center">Rules</p></a>
</div>
