<nav class="navbar__container">
  <div class="navbar__brand">
    <a href="/"><img src="/assets/img/logo.png" alt="Network Logo" class="navbr__brand__image"></a>
  </div>

  <div class="navbar__links">
    <a href="/#servers" class="navbar__link">Servers</a>
    <a href="https://donate.lawlessrp.co/" class="navbar__link">Shop</a>
    <a href="/#community" class="navbar__link">Community</a>
  </div>
</nav>
